body	{
	font-family: Helvetica, sans serif;
	color: #f0f0f0;
	background-color: #101010;
	top: 0;
	left: 0;
}

.top-banner	{
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	padding: 0;
	border: 0;
	margin: 0;
	background-image: url("Images/shelf-life-banner.png");
}

.contact-list	{
	width:	100%;
	text-align: center;
	padding: 10px 0 10px 20px;
	margin: 0;
}

.resume-button	{
	position: fixed;
	top: 10px;
	right: 10px;
	opacity: .3;
	background-color: #c0c0c0;
	font-size: 12px;
	font-weight: bold;
	color: #404040;
	padding: 0 10px;
}

.resume-button:hover	{
	opacity: .8;
}

.screen-footer	{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;	
	background-color: #101010;
	opacity: 0.9;
}

.nav-bar-list	{
	width:	100%;
	text-align: center;
}

.nav-bar-item	{
	display: inline;
	text-align: center;
	list-style-type: none;
	padding: 0 120px 0 0;
/*	color: #a0a0a0;
*/	font-weight: bold;

}

.nav-bar-link	{
	text-decoration: none;
	color: #a0a0a0;
	font-weight: bold;
}

.nav-bar-link:hover	{
	color: white;
}

.nav-bar-pics	{
	display: none;
	width: 100%;
	text-align: center;
}

.nav-bar-icon	{
	width: 20px;
	padding: 0 40px 10px;
	float: left;
}

.page-title	{
	text-align: center;
}

h1	{
	font-size: 48px;
	font-weight: bold;
}

.centering-box	{
	background-color: green;
	width: 100%;
	border 4px solid orange;
	display: inline;
}

.website-image	{
	width: 400px;
	height: 300px;
	background-repeat: none;
	background-position: center;
	background-size: 400px;
/*	background-color: #808080;
*/	float: left;
	padding: 0;
	border: 1px solid #f0f0f0;
	margin: 20px;

}

/*.website-link	{
	opacity: 0.8;
}

.website-link:hover	{
	opacity: 1.0;
}
*/
.website-image.p01	{
	background-image: url("Images/Screenshots/NYT-page.png");
}

.website-image.p02	{
	background-image: url("Images/Screenshots/WP-page.png");
}

.website-image.p03	{
	background-image: url("Images/Screenshots/WSJ-page.png");
}

.website-image.p04	{
	background-image: url("Images/Screenshots/USAT-page.png");
}

.website-image.p05	{
	background-image: url("Images/Screenshots/CNN-page.png");
}

.website-image.p06	{
	background-image: url("Images/Screenshots/FN-page.png");
}

.website-image.p07	{
	background-image: url("Images/Screenshots/MSN-page.png");
}

.website-image.p08	{
	background-image: url("Images/Screenshots/AJ-page.png");
}

@media all and (max-width: 960px) and (min-width: 481px)	{
	.nav-bar-item	{
		padding: 0 40px 0 0;
	}

	.centering-box	{
		width: 100%;
		margin: 0 auto;
	}
}

@media all and (max-width: 480px)	{
	.website-image	{
		background-color: blue;
	}

	.nav-bar-list	{
		display: none;
	}

	.nav-bar-pics	{
		display: inline;
		visibility: visible;
	}	
}

